<template>
  <div class="mt-4">
    <v-btn color="primary" dark class="mb-2" @click="dialogItem">
      Add item
    </v-btn>
    <div class="mb-10" />
    <v-row>
      <v-col>
        <h2 class="black--text text-center">
          Here is {{ customer.name }}'s Invoice
        </h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col md="6">From: FutureLink Technolgies</v-col>
      <v-col md="3">To: {{ customer.name }}</v-col>
      <v-col md="3">Address: {{ customer.address }}</v-col>
    </v-row>

    <v-row>
      <v-col md="4">Item</v-col>
      <v-col md="2">Price</v-col>
      <v-col md="2">Quantity</v-col>
      <v-col md="1">Amount</v-col>
      <v-col md="2" />
    </v-row>

    <v-row v-for="item in items" :key="item.id">
      <v-col md="4">{{ item.item_name }}</v-col>
      <v-col md="2">{{ item.item_price }}</v-col>
      <v-col md="2">{{ item.quantity }}</v-col>
      <v-col md="1">{{ item.item_price * item.quantity }}</v-col>
      <v-col md="2">
        <v-btn small depressed color="error" @click="deleteItem(item)">
          Remove item
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col md="6">
        <p class="green--text">
          We have the pleasure to provide you with the above items... Assuring
          you of the best possible attenion at all the times
        </p>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" max-width="500px">
      <!-- <template #activator="{ on, attrs }">
        <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
          New Invoice Product
        </v-btn>
      </template> -->
      <v-card>
        <v-card-title>
          <span class="headline">New Invoice Item</span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="form.item_name"
                  label="Item Name"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="form.item_price"
                  label="Item Price"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="form.quantity"
                  label="Quantity"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="save"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="headline"
          >Are you sure you want to delete this item?
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeDelete">
            Cancel
          </v-btn>
          <v-btn color="blue darken-1" text @click="deleteItemConfirm">
            OK
          </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'InvoiceItems',

  async asyncData({ $axios, params }) {
    const items = await $axios.$get(
      `/customer/${params.id}/invoice/${params.item}/invoice_item`
    )
    const customer = await $axios.$get(`/customer/${params.id}`)

    return {
      items,
      customer,
    }
  },
  data() {
    return {
      dialog: false,
      dialogDelete: false,
      hedaders: [
        { text: '#', value: 'id' },
        { text: 'Invoice No', value: 'invoice_no' },
        { text: 'Due Date', value: 'due_date' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      form: {
        item_name: '',
        item_price: '',
        quantity: '',
      },
      defaultItem: {
        item_name: '',
        item_price: '',
        quantity: '',
      },
      deleteId: null,
    }
  },
  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },

  methods: {
    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.form = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeDelete() {
      this.dialogDelete = false
    },
    deleteItem(item) {
      this.deleteId = item.id
      this.dialogDelete = true
    },
    dialogItem() {
      this.dialog = true
    },
    deleteItemConfirm() {
      this.$axios
        .$delete(
          `/customer/${this.$route.params.id}/invoice/${this.$route.params.item}/invoice_item/${this.deleteId}`
        )
        .then(() => {
          this.$toast.success('Invoice Item has been deleted!')
          this.$nuxt.refresh()
        })
        .catch(() => this.$toast.error('Oops something went wrong!'))
      this.closeDelete()
    },
    save() {
      this.addItem()
      this.close()
    },
    addItem() {
      this.$axios
        .post(
          `/customer/${this.$route.params.id}/invoice/${this.$route.params.item}/invoice_item`,
          this.form
        )
        .then(() => {
          this.$toast.success('Invoice Item has been added!')
          this.$nuxt.refresh()
        })
        .catch(() => this.$toast.error('Oops something went wrong!'))
    },
    editInvoice() {
      this.$axios
        .put(
          `/customer/${this.$route.params.id}/invoice/${this.form.id}`,
          this.form
        )
        .then(() => {
          this.$toast.success('Invoice has been edited!')
          this.$nuxt.refresh()
        })
        .catch(() => this.$toast.error('Oops something went wrong!'))
    },
  },
}
</script>
