<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="invoices"
      sort-by="calories"
      class="elevation-1"
    >
      <template #top>
        <v-toolbar flat>
          <v-toolbar-title>Invoices for {{ customer.name }}</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template #activator="{ on, attrs }">
              <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
                New Invoice
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                        v-model="form.invoice_no"
                        label="Invoice No"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                        v-model="form.due_date"
                        label="Due Date"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">
                  Cancel
                </v-btn>
                <v-btn color="blue darken-1" text @click="save"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline"
                >Are you sure you want to delete this item?
              </v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete">
                  Cancel
                </v-btn>
                <v-btn color="blue darken-1" text @click="deleteItemConfirm">
                  OK
                </v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template #[`item.actions`]="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template #[`item.invoice_no`]="{ item }">
        <nuxt-link :to="`invoices/${item.id}`">{{ item.invoice_no }}</nuxt-link>
      </template>
    </v-data-table>
  </div>
</template>

<script>
export default {
  name: 'Invoices',

  async asyncData({ $axios, params }) {
    const invoices = await $axios.$get(`/customer/${params.id}/invoice`)

    const customer = await $axios.$get(`/customer/${params.id}`)

    return {
      invoices,
      customer,
    }
  },

  data() {
    return {
      dialog: false,
      dialogDelete: false,
      headers: [
        { text: '#', value: 'id' },
        { text: 'Invoice No', value: 'invoice_no' },
        { text: 'Due Date', value: 'due_date' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      form: {
        invoice_no: '',
        due_date: '',
      },
      defaultItem: {
        invoice_no: '',
        due_date: '',
      },
      editedIndex: -1,
      deleteId: null,
    }
  },

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'New Invoice' : 'Edit Invoice'
    },
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },

  methods: {
    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.form = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeDelete() {
      this.dialogDelete = false
    },
    editItem(item) {
      this.editedIndex = this.invoices.indexOf(item)
      this.form = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem(item) {
      this.deleteId = item.id
      this.dialogDelete = true
    },
    deleteItemConfirm() {
      this.$axios
        .$delete(`/customer/${this.$route.params.id}/invoice/${this.deleteId}`)
        .then(() => {
          this.$toast.success('Invoice has been deleted!')
          this.$nuxt.refresh()
        })
        .catch(() => this.$toast.error('Oops something went wrong!'))
      this.closeDelete()
    },
    save() {
      if (this.editedIndex === -1) {
        this.addInvoice()
      } else {
        this.editInvoice()
      }
      this.close()
    },
    addInvoice() {
      this.$axios
        .post(`/customer/${this.$route.params.id}/invoice`, this.form)
        .then(() => {
          this.$toast.success('Invoice has been added!')
          this.$nuxt.refresh()
        })
        .catch(() => this.$toast.error('Oops something went wrong!'))
    },
    editInvoice() {
      this.$axios
        .put(
          `/customer/${this.$route.params.id}/invoice/${this.form.id}`,
          this.form
        )
        .then(() => {
          this.$toast.success('Invoice has been edited!')
          this.$nuxt.refresh()
        })
        .catch(() => this.$toast.error('Oops something went wrong!'))
    },
  },
}
</script>
