<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="customers"
      sort-by="calories"
      class="elevation-1"
    >
      <template #top>
        <v-toolbar flat>
          <v-toolbar-title>Customers</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template #activator="{ on, attrs }">
              <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
                New customer
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                        v-model="form.name"
                        label="Name"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                        v-model="form.address"
                        label="Address"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">
                  Cancel
                </v-btn>
                <v-btn color="blue darken-1" text @click="save"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline"
                >Are you sure you want to delete this item?
              </v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete"
                  >Cancel</v-btn
                >
                <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                  >OK</v-btn
                >
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template #[`item.name`]="{ item }">
        <nuxt-link :to="`/customers/${item.id}/invoices`">
          {{ item.name }}
        </nuxt-link>
      </template>
      <template #[`item.actions`]="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
    </v-data-table>
  </div>
</template>

<script>
export default {
  name: 'Customers',

  async asyncData({ $axios }) {
    const customers = await $axios.$get('/customer')

    return {
      customers: customers.items,
    }
  },

  data() {
    return {
      dialog: false,
      dialogDelete: false,
      headers: [
        { text: '#', value: 'id' },
        { text: 'Name', value: 'name' },
        { text: 'Address', value: 'address' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      form: {
        name: '',
        address: '',
      },
      defaultItem: {
        name: '',
        address: '',
      },
      editedIndex: -1,
      deleteId: null,
    }
  },

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'New Customer' : 'Edit Customer'
    },
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },

  methods: {
    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.form = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeDelete() {
      this.dialogDelete = false
    },
    editItem(item) {
      this.editedIndex = this.customers.indexOf(item)
      this.form = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem(item) {
      this.deleteId = item.id
      this.dialogDelete = true
    },
    deleteItemConfirm() {
      this.$axios
        .$delete(`/customer/${this.deleteId}`)
        .then(() => {
          this.$toast.success('Customer has been deleted!')
          this.$nuxt.refresh()
        })
        .catch(() => this.$toast.error('Oops something went wrong!'))
      this.closeDelete()
    },
    save() {
      if (this.editedIndex === -1) {
        this.addCustomer()
      } else {
        this.editCustomer()
      }
      this.close()
    },
    addCustomer() {
      this.$axios
        .post('/customer', this.form)
        .then(() => {
          this.$toast.success('Customer has been added!')
          this.$nuxt.refresh()
        })
        .catch(() => this.$toast.error('Oops something went wrong!'))
    },
    editCustomer() {
      this.$axios
        .put(`/customer/${this.form.id}`, this.form)
        .then(() => {
          this.$toast.success('Customer has been edited!')
          this.$nuxt.refresh()
        })
        .catch(() => this.$toast.error('Oops something went wrong!'))
    },
  },
}
</script>
