<template>
  <v-row class="mt-5">
    <v-col cols="12">
      Welcome to FutureLink Technolgy's Invoice System dashboard
    </v-col>
    <!-- <v-col cols="12">
      This is where the dashboard sumarizing all the resources in the system
      have to be...
    </v-col> -->
  </v-row>
</template>

<script>
export default {
  components: {},
}
</script>
